<div class="col-md-12">
	<label>Single Input</label>
	<br>
	<div class="col-md-12">
		<div class="col-md-3">
			<div class="col-md-12 well">
				<label>inputType = "text"</label>
				<InputComponent inputType="text" className="form-control"></InputComponent>	
			</div>
		</div>
		<div class="col-md-3">
			<div class="col-md-12 well">
				<label>inputType = "password"</label>
				<InputComponent inputType="password" className="form-control"></InputComponent>
			</div>
		</div>
		<div class="col-md-3">
			<div class="col-md-12 well">
				<label>inputType = "number"</label>
				<InputComponent inputType="number" className="form-control"></InputComponent>
			</div>
		</div>
	</div>
	<br>
	<br>
	<div class="col-md-12">
		<div class="col-md-3">
			<div class="col-md-12 well">
				<label>inputType = "checkbox"</label>
				<div class="checkbox">
					<label><InputComponent inputType="checkbox" value=""></InputComponent>Option 1</label>
				</div>
				<div class="checkbox">
  					<label><InputComponent inputType="checkbox" value=""></InputComponent>Option 2</label>
				</div>
				<div class="checkbox disabled">
  					<label><InputComponent inputType="checkbox" value=""></InputComponent>Option 3</label>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="col-md-12 well">
				<label>inputType = "radio"</label>
				<div class="radio">
				  <label><InputComponent inputType="radio" name="optradio"></InputComponent>Option 1</label>
				</div>
				<div class="radio">
				  <label><InputComponent inputType="radio" name="optradio"></InputComponent>Option 2</label>
				</div>
				<div class="radio disabled">
				  <label><InputComponent inputType="radio" name="optradio"></InputComponent>Option 3</label>
				</div>				
			</div>
		</div>
	</div>
    <div class="col-md-12">
      <br>
      <div class="col-md-12" style="background: #000000;">
      </div>      
      <br>    
    </div>	
	<label>Event Key Input (inputType = "text")</label>
	<br>
	<div class="col-md-12">
		<div class="col-md-3">
			<div class="col-md-12 well">
				<label>Event KeyPress</label>
				<InputEventKeyPressComponent></InputEventKeyPressComponent>
			</div>
		</div>
		<div class="col-md-3">
			<div class="col-md-12 well">
				<label>Event KeyUp</label>
				<InputEventKeyUpComponent></InputEventKeyUpComponent>
			</div>
		</div>
		<div class="col-md-3">
			<div class="col-md-12 well">
				<label>Event KeyDown</label>
				<InputEventKeyDownComponent></InputEventKeyDownComponent>
			</div>
		</div>
	</div>    
</div>
