<div class="col-md-12">
	<br>
	<br>
	<div class="col-md-12">
		<div class="col-md-3">
			<div class="col-md-12 well">
				<label>Single input, inputType = "text"</label>
				<InputComponent inputType="text" className="form-control"></InputComponent>	
			</div>
		</div>
		<div class="col-md-3">
			<div class="col-md-12 well">
				<label>Single input, inputType = "password"</label>
				<InputComponent inputType="password" className="form-control"></InputComponent>
			</div>
		</div>
		<div class="col-md-3">
			<div class="col-md-12 well">
				<label> Single input, inputType = "number"</label>
				<InputComponent inputType="number" className="form-control"></InputComponent>
			</div>
		</div>
	</div>
	<br>
	<br>
	<div class="col-md-12">
		<div class="col-md-3">
			<div class="col-md-12 well">
				<label>Singel input, inputType = "checkbox"</label>
				<div class="checkbox">
					<label><input type="checkbox" value="">Option 1</label>
				</div>
				<div class="checkbox">
  					<label><input type="checkbox" value="">Option 2</label>
				</div>
				<div class="checkbox disabled">
  					<label><input type="checkbox" value="">Option 3</label>
				</div>
			</div>
		</div>
	</div>
</div>
